<section id="feature" class="section-p1">
	<div class="fe-box">
		<img src="img/features/f1.png">
		<h6>free shipping</h6>
	</div>

	<div class="fe-box">
		<img src="img/features/f2.png">
		<h6>Online Order</h6>
	</div>

	<div class="fe-box">
		<img src="img/features/f3.png">
		<h6>Save Money</h6>
	</div>

	<div class="fe-box">
		<img src="img/features/f4.png">
		<h6>Promotions</h6>
	</div>

	<div class="fe-box">
		<img src="img/features/f5.png">
		<h6>Happy Sell</h6>
	</div>

	<div class="fe-box">
		<img src="img/features/f6.png">
		<h6>F24/7 Support</h6>
	</div>
</section>